// LESS stylesheet

html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: white;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: rgb(255, 0, 0);
	&:hover {
		color: rgb(255, 0, 0);
	}
	img {
		border: none;
	}
}

header {
	height: 60px;
	width: 100%;
	display: block;
	position: absolute;

	#logo {
		width: 183px;
		height: 79px;
		position: relative;
		top: -10px;
		left: 0px;
		background-image: url('../img/chatfulllogo.svg');
		

	}
}

footer {
    position: absolute;
	background-color: white;
	bottom: 0px;
	font-size: 13px;
	width: 100%;
	height: 0%;
}

	img {
padding: 5px;
	}

	a {
		color: #747;
		&:hover {
			color: #979;
		}
	}


::selection {
	background: rgba(0, 0, 0, 0.5);
	color: rgb(0, 0, 0);
}
::-moz-selection {
	background: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
	width: 18px;
	height: 18px;
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(255, 0, 0);
	border: 1px solid rgba(255, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(255, 0, 0);
	// border: 1px solid rgba(240, 14, 240, 0.8);
}
::-webkit-scrollbar-track {
	// background-color: rgba(64, 14, 201, 0.5);
}
::-webkit-scrollbar-corner {
	background-color: rgba(30, 20, 30, 0.7);
}


#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#chatWindow {
	display: none;
	width: 100%;
	height: 100%;
	 background-color: white;
	// background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(43, 129, 199)), to(rgb(155, 41, 155)));
	// background-image: -moz-linear-gradient(top, rgb(204, 28, 57), rgb(228, 115, 39));
	// background-image: linear-gradient(top, rgb(202, 55, 55), rgb(228, 153, 15));
	overflow: hidden;
}
#chatMain {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 80px;
	overflow-y: scroll;
	overflow-x: hidden;

	#chatMainDiv {
		padding: 3px;
		padding-bottom: 23px;
		font-size: 14px;

		& > div {
			padding: 5px;
			position: relative;
			top: 10px;
		}
	}
}


#panelRow {
	background-color: rgb(255, 255, 255);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}
#disconnectButton {
	position: absolute;
	right: 2px;
	top: 0;
	height: 100%;
    width: 89.46px;
	padding: auto;
	margin: 0px;
	background-color: rgb(243, 63, 63);
	//background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(73, 4, 4)), to(rgb(116, 5, 5)));
	//background-image: -moz-linear-gradient(top, #ccc, #888);
	//background-image: linear-gradient(top, #ccc, #888);
	border: 1px solid #aaa;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);

	-webkit-border-radius: 0px 0px 0px 4px;
	-moz-border-radius: 0px 0px 0px 4px;
	border-radius: 10px;

	&:focus {
		outline: none;
	}

	&:active {
		background-color: rgb(255, 0, 0);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ccc));
		background-image: -moz-linear-gradient(top, #999, #ccc);
		background-image: linear-gradient(top, #999, #ccc);
		color: rgb(0, 0, 0);
	}
	&:disabled {
		background-color: rgb(255, 0, 0);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#aaa));
		background-image: -moz-linear-gradient(top, #777, #aaa);
		background-image: linear-gradient(top, #777, #aaa);
		color: #555;
	}
}

#sendButton {
    position: absolute;
    top: 5%;
    right: 5px;
    width: 40px;
    height: 40px;
    color: #2ECC71;
}

#chatroomButton {
    position: absolute;
    right: 1%;
	top: 15%;
	padding: 10px;
	margin: 0px;
	background-color: rgb(238, 16, 120);
	//border: 1px solid #aaa;
    border-color: rgba(0, 0, 0, 0.767);
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);

	-webkit-border-radius: 0px 0px 0px 4px;
	-moz-border-radius: 0px 0px 0px 4px;
	border-radius: 10px;

	&:focus {
		outline: none;
	}

	/*&:active {
		background-color: rgb(0, 255, 0);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ccc));
		background-image: -moz-linear-gradient(top, #999, #ccc);
		background-image: linear-gradient(top, #999, #ccc);
		color: rgb(0, 0, 0);
	}*/
}

#sidebar-chatroomButton {
	position: absolute;
    bottom: 50px;
    padding: 10px 100px 15px 100px;
    margin: 0px;
    background-color: #ee1078;
    border-color: rgba(0, 0, 0, 0.767);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    border-radius: 50px;

	&:focus {
		outline: none;
	}
}

#sidebar-start {
	position: absolute;
    bottom: 50px;
    padding: 10px 100px 15px 100px;
    margin: 0px;
    background-color: #ee1078;
    border-color: rgba(0, 0, 0, 0.767);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    border-radius: 50px;

	&:focus {
		outline: none;
	}
}

#dropdown {
	background-color: #111;
    color: #818181;
    border: none;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 20px;
	}

#dropdown:hover {
	color: red;
}

#chatAreaWrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50px;
	left: 50px;
	padding: 0px;

	#chatArea {
		-moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: none;
        font-family: Arial, sans-serif;
	    font-size: 20px;
        height: -webkit-fill-available;
        overflow: auto;
        //padding: 10px;
        resize: auto;
        display: block;
        width: -webkit-fill-available;
		
		//background-color: rgb(255, 255, 255);
		// background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
		// background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
		// background-image: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));

		// color: rgb(0, 0, 0);

		&:disabled {
			background: rgb(163, 158, 158);
			color: #CCC;
		}
	}
}


.blogs{

	text-align: start;
}

.responsive {
	max-width: 100%;
	height: auto;
  }

textarea:focus {
	outline: none;
}
#isTypingDiv {
	position: absolute;
	bottom: 40px;
	width: 100%;
	height: 18px;
	padding-left: 3px;
	padding-top: 2px;
	font-size: 14px;
	-webkit-transition: bottom .1s ease-in-out;
	-moz-transition: bottom .1s ease-in-out;
	transition: bottom .1s ease-in-out;
}

.strangerChat {
	color: rgb(255, 0, 0);
	font-weight: bold;
	text-emphasis-color: black;
}
.youChat {
	color: rgb(0, 17, 255);
	font-weight: bold;
}
.consoleChat {
	font-weight: bold;
	color: rgb(0, 0, 0);
	position: center;
}

.message-stranger, .message-you {
    padding: 10px;
    border: 1px solid gray;
    max-width: 300px;
	display: block;
    word-break: break-all;
}

.message-you {
	background-color: rgb(159, 203, 253);
    border-radius: 16px 16px 0 16px;
}

.message-stranger {
	background-color: rgb(248, 150, 150);
    border-radius: 16px 16px 16px 0px;
}


#peopleOnlineSection {
	display: none;
	position: absolute;
	right: 18px;
	background-color: rgba(16, 0, 16, 0.7);
	font-size: 14px;
	padding: 2px;
	color: #AAA;
}

#welcomeScreen {
	width: 100%;
	height: 100%;
	display: block;
	overflow-y: scroll;
}



#badges {
	position: relative;
	display: block;

	& > div {
		position: absolute;
		right: 0px;
	}
	#sharebuttons {
		float: right;
		margin: 5px;
	}
}




#startButtonDiv {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	text-shadow: 1px 2px 3px #000;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
	cursor: default;
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
    padding: 4px 12px;
	display: block;
    box-sizing: border-box;
    margin: 0;
	

	& > div {
		position: relative;
		display: flex;
        justify-content: center;
        top: 53%;
	}
	#description {
		color: rgba(29, 103, 201, 0.7);
		font-size: 15px;
	}

}

#startButton {
	font-weight: bold; 
	//border: 4px solid rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.767);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 100px;
	margin: 4px;
	background-color: rgb(238, 16, 120);
	-webkit-box-shadow: 1px 3px 20px #000;
	color: white;
	//text-shadow: 0px 0px 5px rgba(0, 128, 255, 0.5);
	cursor: pointer;
	font-size: 25px;
    padding: 10px 20px 10px 20px;

	&:focus {
		outline: none;
	}
	/*&:hover {
		background-color: #6CF;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6CF), to(#39F));
		background-image: -moz-linear-gradient(top, #6CF, #39F);
		background-image: linear-gradient(top, #6CF, #39F);
	}*/
	/*&:active {
		background-color: #39F;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39F), to(#0AF));
		background-image: -moz-linear-gradient(top, #39F, #0AF);
		background-image: linear-gradient(top, #39F, #0AF);
		color: #9FF;
	}*/
	&:disabled {
		background-color: #666;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#999));
		background-image: -moz-linear-gradient(top, #666, #999);
		background-image: linear-gradient(top, #666, #999);
		color: #CCC;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		border-color: #999;
		cursor: default;
	}
}

.wait-message {
	position: fixed;
    height: 75%;
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.link-static {
	text-decoration:none;
	color:black;
}
.link-static:hover { 
	color:red;
 }

#blog {
	text-decoration: none;
    color: azure;
    bottom: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
}
#blog:hover {
	color:rgb(238, 16, 120);
}

.border {
	border-bottom-style:solid;
	border-color: #e8e8e8;
	border-bottom-width: 1px;
	padding-bottom: 25px;
}

.topborder {
	border-top-style: solid;
	border-color: #e8e8e8;
	border-top-width: 5px;
	display: flex;
}

@media(max-width: 424px) {
	#disconnectButton {
        height: 35px;
        top: 25%;
	}

    #startButton {
        position: relative;
        top: 10px;
        font-size: 25px;
        padding: 10px 20px 10px 20px;
    }
	#hamburger {
		display: block !important;
	}
	#chatroomButton{
		display: none;
	}
	#blog{
		display: none;
	}
	#start {
		display: none;
	}
	.testimonial-group > .row > .col-xs-4 {
		width: 100%;
	}
	.testimonial-group > .row {
		overflow-x: auto;
	}
}

@media (min-width: 768px) and (max-width: 769px) {
.container {
    width: 708px !important;
	}
}

@media(min-width:375px) and (max-width: 400px) {
	#SAFETY {
        width: 172px;
    }
    #LEGAL {
        width: fit-content;
        left: 180px;
        bottom: 75px;
    }
    #SOCIAL {
        width: 172px;
        bottom: 50px;
    }
    #FAQ {
        width: fit-content;
        bottom: 142px;
        left: 199px;
    }
    #APP{
        bottom: 152px;
        border-top-style: none;
    }
    .row {
        border-bottom-style: none;
    }
	#blog-position {
		padding-left: 25px;
		display: block !important;
		padding-bottom: 100px;
	}
	#box2 {
		position: relative;
		top: 50px;
	}
	#box3 {
		position: relative;
		top: 100px;
	}
}

@media(min-width: 1200px) {
    .message-stranger, .message-you {
    max-width: 1200px;
    }
}

@media(min-width:360px) and (max-width: 374px) {
    #SAFETY {
        width: 172px;
    }
    #LEGAL {
        width: fit-content;
        left: 180px;
        bottom: 75px;
    }
    #SOCIAL {
        width: 172px;
        bottom: 50px;
    }
    #FAQ {
        width: fit-content;
        bottom: 172px;
        left: 199px;
    }
    #APP{
        bottom: 152px;
        border-top-style: none;
    }
    .row {
        border-bottom-style: none;
    }
	#blog-position {
		padding-left: 15px;
		display: block !important;
		padding-bottom: 100px;
	}
	#box2 {
		position: relative;
		top: 50px;
	}
	#box3 {
		position: relative;
		top: 100px;
	}
}

@media(min-width:401px) and (max-width: 420px) {
    #SAFETY {
        width: 172px;
    }
    #LEGAL {
        width: fit-content;
        left: 215px;
        bottom: 76px;
    }
    #SOCIAL {
        width: 172px;
        bottom: 55px;
    }
    #FAQ {
        width: fit-content;
        bottom: 148px;
        left: 234px;
    }
    #APP {
        bottom: 152px;
        border-top-style: none;
        border-color: #e8e8e8;
		border-bottom-style: none;
    }
	#blog-position {
		padding-left: 40px;
		display: block !important;
		padding-bottom: 100px;
	}
	#box2 {
		position: relative;
		top: 50px;
	}
	#box3 {
		position: relative;
		top: 100px;
	}
}

#myFileInput {
    display: none;
}

#camera {
    position: relative;
    bottom: 5%;
    width: 50px;
    height: 50px;
}

#hamburger {
	display: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* The heart of the matter */
.testimonial-group > .row {
	overflow-x: none;
	white-space: nowrap;
  }
  .testimonial-group > .row > .col-xs-4 {
	display: inline-block;
	float: none;
  }
  
  /* Decorations */
  .col-xs-4 { color: #fff; font-size: 48px; padding-right: 0px !important; padding-left: 0px !important;}
  .col-xs-4:nth-child(3n+1)
  .col-xs-4:nth-child(3n+2)
  .col-xs-4:nth-child(3n+3)

  body {
	font-family: "Lato", sans-serif;
	transition: background-color .5s;
  }
  
  .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: red;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  #start {
	position: absolute;
	bottom: 6px;
	padding: 12px;
	right: 5px;
	font-weight: bold; 
	//border: 4px solid rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.767);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 100px;
	background-color: rgb(238, 16, 120);
	// -webkit-box-shadow: 1px 3px 20px #000;
	color: white;
	//text-shadow: 0px 0px 5px rgba(0, 128, 255, 0.5);
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.card {
	height: 300px;
    width: 300px;
}

.blog-image {
	background-image: url('https://image.shutterstock.com/image-photo/saintpetersburgrussia-09092019-still-life-composition-260nw-1527582842.jpg');
	height: 150px;
}
.blog-text {
	color: black;
	font-size: large;
}